 <!-- 头部 -->
        <header class="header">
            <div class="wrapper">
                <!-- 导航 -->
                <nav>
                    <a href="./index.handlebars">Home</a>
                    <a href="/home/about.html">关于我们</a>
                    <a href="/home/join.html">传智招聘</a>
                </nav>
                <!-- 注册/登录 -->
                <div class="extra">
                    <a href="/home/register.html">注册</a>
                    <a href="/home/login.html">登录</a>
                </div>
            </div>
        </header>